.container {
    background-image: url("../../../assets/images/owners/background.jpg") !important;
    background-color: #000000;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-card {
    width: 35% !important;
    background-color: rgba(0, 0, 0, 0.8);
    color: wheat !important;
    margin-left: 2%;
    height: 100%;
    
}

.btn-own {
    width: 60%;
}

.nav-card-header {
    color: wheat !important;
    text-align: center !important;
}

.btn-home {
    text-align: center;
    color: whitesmoke !important;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.menu-list {
    text-align: center;
}

.menu-list-cars {
    text-align: center;
    max-height: 100px;
}

.grid-item-1 {
    max-width: 100%;
    width: 100%;
    margin-left: 43%;
    margin-top: 5%;
}

.grid-item-2 {
    max-width: 100%;
    width: 100%;
    margin-left: 50%;
}

.input-group{
    width: 100%;
}